@import 'src/scss/variables/colors';

.periods {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.periods-items {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 $dusty-gray;
  height: 40px;
}

.period-item {
  color: $dusty-gray;
  padding: 12px;
}

.selected-item-period {
  background-color: $blue;
  border-radius: 5px;
  color: $white;
  height: inherit;
}

.main {
  display: flex;
  flex-direction: row;
}

.column-left {
  width: 12%;
}

.column-right {
  width: 86%;
}

.group-labels {
  display: flex;
}

.group-labels-item {
  background-color: $light-grey;
  border-radius: 6px;
  color: $dusty-gray;
  flex-grow: 1;
  font-size: 8px;
  height: 35px;
  margin: 0 1px;
  width: 33px;;
}

.label-selected {
  border: 2px solid $blue;
  color: $blue;
}
