* {
  font-family: $font-family;
}

.button {
  background-color: $light-grey;
  border-radius: 4px;
  display: block;
  padding: 10px 50px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
  width: 100%;
}
