<ul>
  <li><a routerLink="home" href="#">Home</a></li>
  <li><a routerLink="albums" href="#">Albums</a></li>
  <li><a routerLink="products" href="#">Products</a></li>
  <li><a routerLink="sample-products" href="#">Sample Products</a></li>
  <li><a routerLink="my-billing-chart" href="#">My Billing Chart</a></li>
  <li><a routerLink="comparative-chart-billing" href="#">Comparative Chart Billing</a></li>
  <li><a routerLink="parent-component" href="#">Sharing Data Between Components</a></li>
  <li><a routerLink="getter-and-setter" href="#">Getter and Setter</a></li>
  <li><a routerLink="internationalization" href="#">Internationalization</a></li>
  <li><a routerLink="sample-testing" href="#">Sample Testing</a></li>
</ul>
