<ul class="menu">
  <li class="menu-item"><a routerLink="home" href="#">Home |</a></li>
  <li class="menu-item"><a routerLink="albums" href="#">Albums |</a></li>
  <li class="menu-item"><a routerLink="products" href="#">Products |</a></li>
  <li class="menu-item"><a routerLink="sample-products" href="#">Sample Products |</a></li>
  <li class="menu-item"><a routerLink="my-billing-chart" href="#">My Billing Chart |</a></li>
  <li class="menu-item"><a routerLink="comparative-chart-billing" href="#">Comparative Chart Billing |</a></li>
  <li class="menu-item"><a routerLink="parent-component" href="#">Sharing Data Between Components |</a></li>
  <li class="menu-item"><a routerLink="getter-and-setter" href="#">Getter and Setter |</a></li>
  <li class="menu-item"><a routerLink="internationalization" href="#">Internationalization |</a></li>
  <li class="menu-item"><a routerLink="sample-testing" href="#">Sample Testing |</a></li>
  <li class="menu-item"><a routerLink="testing-obs" href="#">Testing Observer |</a></li>
  <li class="menu-item"><a routerLink="observable-rxjs" href="#">Observable rxjs |</a></li>
  <li class="menu-item"><a routerLink="students" href="#">Students|</a></li>
</ul>
